@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header{
    width: 100%;
    position: fixed;
    background-color: #40407a;
    height: 100px;
    font-family: "Roboto", serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header_ul{
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    font-size: 26px;
    flex-grow: 1;
}
.header_ul li:hover{
    background-color: rgb(98, 126, 254);
    cursor: pointer;
}
#logo:hover{
    background-color: transparent; 
    cursor: default;
}
.logo-container{
    margin:100px;
}